body {
	margin: 10px 10px 10px 20px;
}

.heading {
	width: 75%;
	height: 100px;
	background-color: #acc0f3;
	padding: 50px;
	margin: 50px;
	font-family: 'Anton', sans-serif;
	
}

#list ol {
	color: blue;
	font-weight: bold;
	border: 1px red solid;
	width: 200px;
	padding: 20px;

}

#haych {
	display: block;
						color: blue;
	margin-top: 100px;
}