body {
	margin: 10px 10px 10px 20px;
}

.heading {
	width: 220px;
	height: 100px;
	background-color: red;
	padding: 50px;
	margin: 50px;
	font-family: 'Anton', sans-serif;
	
}

#list ol {
	color: blue;
	font-weight: bold;
	border: 1px red solid;
	width: 200px;
	padding: 20px;
}